main {
    margin: 2vmin;
}

/* CONTROLS */

#control-above {
    width: 75vmin;
    display: flex;
    justify-content: space-evenly;
}

#control-below {
    width: 75vmin;
    display: flex;
    justify-content: space-evenly;
}

/* APP STYLE */

#appContainer {
    width: 75vmin;
    height: 75vmin;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell {
    flex-grow: 1;
}

/* STYLE CLASSES */

.center-me {
    margin: 0 auto;
}