
.center-me {
    margin: 0 auto;
}

/* APP STYLE */

#appContainer {
    width: 75vw;
    height: 75vw;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cell {
    border: 1px solid black;
    flex-grow: 1;
}